
<div class="container">
  <div class="row m-4 p-3 border border-secondary d-flex justify-content-center">
    <% @list.bookmarks.each do |bookmark| %>
        <p class="col-12"><%= bookmark.comment %></p>
        <p class="col-12 "><%= bookmark.movie.title %>
        <p class="col-3"><%= bookmark.movie.overview %></p>
        <p class="col-3"><%= bookmark.movie.rating %></p>
        <%= image_tag bookmark.movie.poster_url, class: "col-2" %>
        <%= link_to "Delete", bookmark_path(bookmark), class: "btn col-12",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  </div>
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn" %>
  </div>
